---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Marc-Aurel Wilzin | Portfolio">
    <main>
        <h1>Marc-Aurel Wilzin</h1>
        <p>Willkommen auf meiner neuen Astro-Seite!</p>
    </main>
</Layout>
