---
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{metadata?.title || 'Marc-Aurel Wilzin'}</title>
    </head>
    <body>
        <slot name="announcement">
            <Announcement />
        </slot>
        <slot name="header">
            <Header {...headerData} isSticky showRssFeed showToggleTheme />
        </slot>
        <main>
            <slot />
        </main>
        <slot name="footer">
            <Footer {...footerData} />
        </slot>
    </body>
</html>
